html{
    background-color:black;
    text-align: left;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
}

h1{
    font-size: 25px;
    text-decoration: underline;
    font-size: medium;
    color: rgb(133, 192, 243);
    text-align: center;
}

h2{
    
    text-decoration: underline;
    font-size: medium;
    color: rgb(133, 192, 243);
}
.pic{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-decoration: underline;
    font-size: small;
    color: rgb(133, 192, 243);
}

h4{
    text-decoration: underline;
    font-size: medium;
    color: rgb(133, 192, 243);
}

a{
    color: red;
    font: medium;
    font-size: 13px;
}

footer{
    font-size: smaller;
    text-align: center;
    background-color: rgb(26, 51, 30);
}

#center{
    text-align: center;
}

a{
    background-color: rgb(231, 151, 231);
    color: black;
    font: bold;
    font-weight: bolder;
}
